/* Define the styles for the header */
header {
    position: fixed;
    top: 0; /* Stick it to the top of the viewport */
    left: 0; /* Stick it to the left of the viewport */
    width: 100%; /* Make it full width of the viewport */
    background-color: purple;
    color: white;
    padding: 10px;
    text-align: left;
    margin-right: 10px;
}
span {
    margin-right: 150px;
}
.category-tags {
    list-style: none;
    padding: 10px;
    display: flex; /* Display tags in a horizontal line */
}
.category-tags li {
    margin-right: 30px; /* Add space between tags */
}
.category-tags a {
    text-decoration: none;
    color: #ffffff; /* Set the text color */
}
.trusted-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 600px; /* Set the desired height for the "trusted" picture */
}
footer {
    margin-top: 200px;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Background color */
    color: white; /* Text color */
    padding: 20px; /* Padding for spacing */
    text-align: left; /* Center align the content */
}
.container {
    width: 5%; /* Example width */
    margin: 130; /* Center the container horizontally */
    background-color: #f0f0f0; /* Background color */
    padding: 5px; /* Padding for spacing */
    text-align: center; /* Center align the content */
}